/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {

	behaviors {
		sp: space_modtap {
			compatible = "zmk,behavior-hold-tap";
			label = "SPACE_MODTAP";
			#binding-cells = <2>;
			tapping-term-ms = <400>;
			quick_tap_ms = <0>;
			flavor = "tap-preferred";
			bindings = <&kp>, <&kp>;
        	};
    	};

	combos {
		compatible = "zmk,combos";
		combo_esc {
			timeout-ms = <50>;
			key-positions = <0 1>;
			bindings = <&kp ESC>;
		};
		combo_thumbs {
			timeout-ms = <50>;
			key-positions = <54 55>;
			bindings = <&kp LG(D)>;
		};
	};

        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
&kp TAB       &kp Q        &kp W       &kp E   &kp R   &kp T            &kp Y   &kp U  &kp I       &kp O   &kp P      &kp MINUS
&kp LSHFT     &kp A        &kp S       &kp D   &kp F   &kp G            &kp H   &kp J  &kp K       &kp L   &lt 2 SEMI &mt RSHFT SQT
&lt 2 GRAVE   &kp Z        &kp X       &kp C   &kp V   &kp B            &kp N   &kp M  &kp COMMA   &kp DOT &kp FSLH   &kp RCTRL
                    &kp LALT &sp LCTRL SPACE &lt 1 BSPC   &mt RSHFT TAB  &kp RET &kp RG(RSHFT)
                        >;
                };
                lower_layer {
                        bindings = <
   &kp ESC    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5            &trans     &kp LPAR   &kp RPAR    &kp LT    &kp GT    &kp EQUAL
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4      &kp LEFT  &kp DOWN    &kp UP    &kp RIGHT   &kp RBKT  &trans
   &kp LSHFT  &trans       &trans       &trans       &trans       &trans            &trans     &trans     &trans      &trans    &trans    &trans
                                        &kp LGUI     &trans       &kp SPACE         &kp RET    &trans     &kp RALT
                        >;
                };

                raise_layer {
                        bindings = <
   &trans      &trans      &kp N7       &kp N8    &kp N9    &trans    &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BSPC
   &trans      &trans      &kp N4       &kp N5    &kp N6    &trans    &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp PIPE &kp GRAVE
   &trans      &trans      &kp N1       &kp N2    &kp N3    &trans    &trans    &trans    &trans          &trans   &kp BSLH &kp TILDE
                                         &kp N0   &trans &trans     &trans  &trans  &trans
                        >;
                };
        };
};
